body {
  margin: 0px;
  padding:0px;
}
.navbar-inverse {
  background-color: transparent;
  border:none;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: rgba(51,51,51,0.8);
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(51,51,51,0.9);
}
.navbar-inverse>.container-fluid>.navbar-collapse>.navbar-nav>li>a {
  color:#ffffff;
  text-shadow:1px 1px 2px #000000;
}

/*Hero*/
button.btn-danger:hover {
  background-color: #D34326;
  border-color: #D34326;
}
button.btn-danger {
  background-color: #F8512F;
  border-color: #F8512F;
}
.item {
  height:500px;
  background-size:cover;
  background-position: center;
}
.carousel-caption {
  margin-bottom:45px;
}
#slide1 {
  background-image: url(../img/wood-2.jpg);
}
.carousel-logo {
  height:500px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.carousel-logo-img {
  height:250px;
}
#slide2 {
  background-image: url(../img/restaurant-2.jpg);
}
#slide3 {
  background-image:url(../img/farm-2.jpg)
}

/*Our story*/
.lobster-font {
  font-family:'Lobster', cursive;
  color: #F8512F;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
}
#our-story {
  margin-top:10%;
  margin-bottom:10%;
}
.our-story-h3 {
  margin-top:0px;
}
.the-year {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  color: rgba(51,51,51,0.1);
  font-size: 170px;
}
